body
{
	/* Blender Color */
	/* background-color: #3f3f3f; */

	/* Godot Color */
	background-color: #272e36;
	margin: 0px;
}

h1, h2, h3, h4
{
	color: #fefcd4;
}

.button
{ 
	color: black;
	text-decoration: none;
}

.fragment
{
	scroll-margin: 100px;
}

a
{
	color: orange;
	text-decoration: none;
}

a:hover
{
	color: purple;
}

#header
{
	position:fixed;
	background-color: #272e36;
	height:100px;
	width:100%;
}

#header a
{
	display: inline;
	color: #fefcd4;
}

.header-title
{
	margin-top:8px;	
	margin-bottom:5px;	
}

.version
{
	color: #fefcd4;
	font-style: italic;
}

#hamburger
{
	width: 50px;
	height: 50px;
	margin-top: 20px;
	float: right;
    cursor: pointer;
}

#lateral-menu
{
	width: 100%;
	position: fixed;
	background-color: #21262e;
	border-color: #727780;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	padding-top: 10px;
	top:100px;
	max-width:360px;
	height: calc(100% - 120px);
	overflow-y: scroll;
}

.fixed-hide
{
	right:-100%;
}

.fixed-show
{
	right:0px;
}


.grid
{
	text-align: center;
	float: center;
	width: 100%;
}

.especializacoesbox
{
	width: 80%;
	margin: auto;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	padding: 20px;
}

.btn-especializacoes
{
	text-align: center;
	background-color: #303743;
	border-style: solid;
	border-color: #70bafb;
	padding: 20px 0;
	width: 100%;
	border-radius: 5px;
	display: block;
	box-shadow: 0px 2px 2px;
	
}

.btn-especializacoes:hover
{
	background-color: #252b34;
}

.textbox
{
	color: #CCCCCC;
	text-align: justify;
	font-family: 'calibri', sans-serif;
	font-size: 22px;
	width: 80%;
	margin: auto;
	border-style: solid;
	border-color: #70a41c;
	border-width: 4px;
	border-radius: 5px;
	padding: 20px;
}

.textbox img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
	max-height: 200px;
    object-fit: contain;
}

.textbox img.intro-banner
{
    max-height: none;
    max-width: none;
}

.textbox h1, .textbox h2, .textbox h3, .textbox h4
{
	text-align: center;
}

.separator
{
	height: 1px;
	border-bottom: 3px solid #808080;
	width: 100%;
}

.text-separator
{
	height: 1px;
	border-bottom: 2px solid #f63652;
	width: 80%;
	margin: 3.5rem auto;
}

.ZGizmo
{
	border-color: #2f84e3;
}

.YGizmo
{
	border-color: #70a41c;
}

.XGizmo
{
	border-color: #f63652;
}

.header
{
	display: inline-block;
	width: 100%;
	height: 250px;
	text-align: center;
}

.title
{
	height: 200px;
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	align-items: center;
	display: flex;
}

.title .container
{
	width: 100%;
	margin-top: -30px;
}

.title .container a
{
	padding: 40px;
}

.home-anchor
{
	bottom: 10px;
	right: 10px;
	position: fixed;
	align-self: start;
	z-index: 999;
	width: 60px;
	height:60px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10%;
	background-image: url('../images/to-top.svg');
	background-size: cover;
}

.nav-section
{
	font-family: 'calibri', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.nav-section a 
{
	transition: all 50ms ease-in-out;
	text-decoration: none;
	padding: .125rem 0;
	display: block;
	color: #CCC;
	pointer-events: auto; 
}

.nav-section a:hover,
.nav-section a:focus 
{
	color: #666;
}

ul, ol 
{
	list-style: none;
	margin: 0;
	padding: 0;
	color: #888;
}

ul
{
	margin-left: 3rem;
}

li 
{
	margin-left: 2rem;
}

grid 
{
	display: grid;
	grid-template-columns: 1fr 100%;
}

.nav-content
{
	grid-column: 2;
	grid-row: 1;
	max-width: 1280px;
	margin: auto;
}

html 
{
	scroll-behavior: smooth;
}


.footer
{
	text-align: center;
	color: #fefcd4;
}
